@model QuanLiSoTietKiem.Models.Interest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style=" background-image: url('~/Assets/Form/images/bg-01.jpg')">
    <div class="inner">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h3>Tạo mới lãi suất</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control1" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    @*<input type="text" class="form-control1">*@
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.Factor)
                    @Html.EditorFor(model => model.Factor, new { htmlAttributes = new { @class = "form-control1" } })
                    @Html.ValidationMessageFor(model => model.Factor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-wrapper">
                @Html.LabelFor(model => model.PeriodID)
                @Html.DropDownList("PeriodID", null, htmlAttributes: new { @class = "form-control1" })
                @Html.ValidationMessageFor(model => model.PeriodID, "", new { @class = "text-danger" })
            </div>


            <button class="btn btn-success button1">Create Now</button>
        }
        <div style="margin-left:45px;color:#ccc">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

</div>
