@model IEnumerable<QuanLiSoTietKiem.Models.Interest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-content-center mb-3"> 
    <h2>Bảng lãi suất</h2>

    <p>
        @Html.ActionLink("Thêm lãi suất mới", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Period.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectedAt)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Period.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factor) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectedAt)
        </td>
    </tr>
}

</table>
