@model QuanLiSoTietKiem.Common.UserDetail
@{
    ViewBag.Title = "Đăng nhập vào hệ thống";
    Layout = "~/Views/Shared/_LayoutNo.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-form">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    }

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName)
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "au-input au-input--full", @placeholder = "Tài khoản" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "au-input au-input--full", @placeholder = "Tài khoản" } })
                        </div>
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">login</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
