@model QuanLiSoTietKiem.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  class="container" style=" background-image: url('~/Assets/Form/images/bg-01.jpg')">
    <div class="inner">

        @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3>Tạo mới khách hàng</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.UserName)
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control1" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    @*<input type="text" class="form-control1">*@
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.FullName)
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control1" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-wrapper">
                @Html.LabelFor(model => model.Phone)
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                @Html.LabelFor(model => model.Birthday)
                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control1", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                @Html.LabelFor(model => model.IdentityNumber)
                @Html.EditorFor(model => model.IdentityNumber, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.IdentityNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                @Html.LabelFor(model => model.ImagePath)
                @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control1", @type = "file" } })
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                @Html.LabelFor(model => model.Address)
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                @Html.LabelFor(model => model.Sex)
                @Html.EnumDropDownListFor(model => model.Sex, htmlAttributes: new { @class = "form-control1" })
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            </div>
            <div class="form-wrapper">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <button class="btn btn-success button1">Tạo tài khoản</button>
        }
        <div  style="margin-left:45px;color:#ccc">
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    </div>
  
</div>

