@model IEnumerable<QuanLiSoTietKiem.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <title>Table 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/table/css/style.css">

</head>
<body>
    <section class="">
        <div class="container">
            <div class="row justify-content-sm-between align-content-center">
                <div class="col-md-6 text-left mb-5">
                    <h2 class="heading-section">Danh sách nhân viên</h2>
                </div>
                <div>
                    <button>@Html.ActionLink("Thêm nhân viên", "Create")</button>                 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tài khoản</th>
                                    <th>Mật khẩu</th>
                                    <th>Họ tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày sinh</th>
                                    <th>Giới tính</th>
                                    <th>Địa chỉ</th>
                                    <th colspan="2">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Password)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Sex)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td class="d-flex">
                                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success mr-1" })
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-success mr-1" })
                                            @Html.ActionLink("Remove", "Delete", new { id = item.ID }, new { @class = "btn btn-success mr-1" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>



