@model IEnumerable<QuanLiSoTietKiem.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-4">

    <div class="col-6">
        @Html.ActionLink("Thêm khách hàng mới", "Create", null, new {@class = "btn btn-primary"})
    </div>
    <div class="col-6">
        <form action="/Customer" method="get">
            <div class="form-group">
                <input class="form-control" id="search" type="text" name="search" placeholder="Nhập chứng minh thư" value=""/>
            </div>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                Số dư tiết kiệm
            </th>
            <th>
                Tài khoản hiện hữu
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.IdentityNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    0
                </td>
                <td>
                    @item.SavingBooks.Count()
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

</div>
