<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>@ViewBag.Title</title>

    <!-- Fontfaces CSS-->
    <link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" media="all">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/table/css/style.css">





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>

    <style type="text/css">
        .modal1 {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.3); /* Fallback color */
        }

        /* Modal Content/Box */
        .modal-content1 {
            background-color: #fefefe;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 35%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close1 {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close1:hover,
            .close1:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        .close2 {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close2:hover,
            .close2:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>


<body class="animsition" >
    <div style="display:none;position: fixed; z-index: 10; left: 0; top: 0; width: 100%; height: 24%; overflow: auto; background-color: rgba(255,255,255,0.3);">

</div>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </header>
        <header class="header-desktop" id="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div>

                        </div>
                        <div class="header-button">

                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">

                                    <div class="content">
                                        <a class="js-acc-btn" href="#">@Session["FullName"]</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">

                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="/Authencation/ChangePassword">
                                                    <i class="zmdi zmdi-account"></i>Account
                                                </a>
                                            </div>

                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="/Authencation/Logout">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/">
                    <img src="~/CoolAdmin-master/images/icon/logo-stk.png" alt="Cool" />

                </a>

            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        @if (Session["Role"] != null && Session["Role"].ToString() == "quan_tri_vien")
                        {
                            <li class="d-flex align-content-center ">
                                <i class="fas fa-chart-bar" style="padding: 20px 0"></i>
                                <a class="w-100 ml-3" href="/Staff">Quản lí nhân viên</a>
                            </li>
                            <li class="d-flex align-content-center ">
                                <i class="fas fa-table" style="padding: 20px 0"></i>
                                @Html.ActionLink("Quản lí chức vụ", "Index", "Office", new { @class = "w-100 ml-3" })
                            </li>
                        }

                        @if (Session["Role"] != null && Session["Role"].ToString() == "giam_doc")
                        {
                            <li class="d-flex align-content-center ">
                                <i class="far fa-check-square" style="padding: 20px 0"></i>
                                <a class="w-100 ml-3" href="/Interest">Quản lí lãi suất</a>
                            </li>
                            <li class="d-flex align-content-center ">
                                <i class="fas fa-calendar-alt" style="padding: 20px 0"></i>
                                <a class="w-100 ml-3" href="/Period">Quản lí kì hạn</a>
                            </li>
                            <li class="d-flex align-content-center ">
                                <i class="fas fa-map-marker-alt" style="padding: 20px 0"></i>
                                <a class="w-100 ml-3" href="/Report">Quản lí báo cáo</a>
                            </li>
                        }

                        @if (Session["Role"] != null && Session["Role"].ToString() == "nhan_vien")
                        {
                            <li class="d-flex align-content-center ">
                                <i class="fas fa-copy" style="padding: 20px 0"></i>
                                <a class="w-100 ml-3" href="/Customer">Quản lí Khách hàng</a>

                            </li>

                            <li class="d-flex align-content-center ">
                                <i class="fas fa-magic" style="padding: 20px 0"></i>
                                <a class="w-100 ml-3" href="/Customer">Quản lí tài khoản tiết kiệm đã quá hạn</a>


                            </li>
                        }


                    </ul>
                </nav>
            </div>
        </aside>


        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container" style="margin-top: 75px">


            <!-- HEADER DESKTOP-->
            <!-- HEADER DESKTOP-->

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-primary" role="alert">
                                @TempData["Success"]
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["Error"]
                            </div>
                        }

                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- MAIN CONTENT-->
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>


        <!-- Jquery JS-->
        <script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/CoolAdmin-master/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/CoolAdmin-master/vendor/slick/slick.min.js">
        </script>
        <script src="~/CoolAdmin-master/vendor/wow/wow.min.js"></script>
        <script src="~/CoolAdmin-master/vendor/animsition/animsition.min.js"></script>
        <script src="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="~/CoolAdmin-master/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/CoolAdmin-master/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="~/CoolAdmin-master/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/CoolAdmin-master/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/CoolAdmin-master/vendor/select2/select2.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.min.js"></script>


        <!--===============================================================================================-->
        <!-- Main JS-->
        <script src="~/CoolAdmin-master/js/main.js"></script>

        <script src="~/table/js/jquery.min.js"></script>
        <script src="~/table/js/popper.js"></script>
        <script src="~/table/js/bootstrap.min.js"></script>
        <script src="~/table/js/main.js"></script>

        <script type="text/javascript">

            // Get the modal
            var modal = document.getElementById("myModal1");
            var header = document.getElementById("header-desktop");


            // Get the button that opens the modal
            var btn = document.getElementById("myBtn1");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close1")[0];
            var span1 = document.querySelector(".close-3");


            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
                header.style.backgroundColor = "darkgrey";
                console.log("ok")
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
                header.style.background = "#fff";

            }
            span1.onclick = function () {
                modal.style.display = "none";
                header.style.background = "#fff";

            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none"
                    header.style.background = "#fff";
                }
            }

        </script>

</body>

</html>
<!-- end document-->
