@model QuanLiSoTietKiem.Models.SavingBook

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SavingBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.DepositAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestAmount)
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.InterestAmount)
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectedAt)
        </dt>

        <dd>
            @Model.EffectedAt.ToString("dd/MM/yyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationAt)
        </dt>

        <dd>
            @Model.ExpirationAt.ToString("dd/MM/yyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingAt)
        </dt>

        <dd>
            @{
                string close = "Chưa đóng";
                if (Model.ClosingAt != null)
                {
                    close = Model.ClosingAt?.ToString("dd/MM/yyy HH:mm");
                }
                
            }
            @close
        </dd>


    </dl>
</div>
<form action="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" method="post">
    <input type="submit" value="Tất toán sớm" class="btn btn-danger" />
</form>

<a href="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" class="btn btn-primary" target="_blank">Xuất sổ tiết kiệm</a>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
