@model QuanLiSoTietKiem.Models.SavingBook

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- The Modal -->
<div id="myModal1" class="modal1">
    <!-- Modal content -->
    <div class="modal-content1">
        <div class="d-flex justify-content-between align-content-center">
            <h5 class="modal-title">Nhắc nhở?</h5>
            <span class="close1">&times;</span>
        </div>

        <p>Bạn có muốn tất toán tài khoản này không?</p>
        <div class="d-flex justify-content-end align-content-center">
            <form class="text-right" action="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" method="post">
                <input type="submit" value="Đồng ý" class=" btn btn-success" />
            </form>
            <input type="button" value="Close" class="close-3 ml-1 btn-close btn btn-danger" />
        </div>
    </div>

</div>


<script type="text/javascript">

    // Get the modal
    var modal = document.getElementById("myModal1");
    var header = document.getElementById("header-desktop");


    // Get the button that opens the modal
    var btn = document.getElementById("myBtn1");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1")[0];
    var span1 = document.querySelector(".close-3");


    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
        header.style.backgroundColor = "darkgrey";
        console.log("ok")
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        header.style.background = "#fff";

    }
    span1.onclick = function () {
        modal.style.display = "none";
        header.style.background = "#fff";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none"
            header.style.background = "#fff";
        }
    }

</script>

<div class="wrapper">
    <div class="profile-card js-profile-card">
        <div class="profile-card__img">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile card">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">@Html.DisplayFor(model => model.Customer.UserName)</div>
            <div class="profile-card__txt">@Html.DisplayNameFor(model => model.Interest.Name): <strong>@Html.DisplayFor(model => model.Interest.Name)</strong> </div>
            <div class="profile-card__txt">@Html.DisplayNameFor(model => model.DepositAmount): <strong>@Html.DisplayFor(model => model.DepositAmount)</strong> </div>
            <div class="profile-card__txt">@Html.DisplayNameFor(model => model.Type): <strong>@Html.DisplayFor(model => model.Type)</strong> </div>
            <div class="profile-card__txt">@Html.DisplayNameFor(model => model.State): <strong>@Html.DisplayFor(model => model.State)</strong> </div>
            <div class="profile-card__txt">@Html.DisplayNameFor(model => model.EffectedAt): <strong>@Html.DisplayFor(model => model.EffectedAt)</strong> </div>
            <div class="profile-card__txt">@Html.DisplayNameFor(model => model.ExpirationAt): <strong>@Html.DisplayFor(model => model.ExpirationAt)</strong> </div>

            <div class="profile-card-loc">
                <span class="profile-card-loc__icon">
                    <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                </span>

                <span class="profile-card-loc__txt">
                    @{
                        string close1 = "Chưa đóng";
                        if (Model.ClosingAt != null)
                        {
                            close1 = Model.ClosingAt?.ToString("dd/MM/yyy HH:mm");
                        }

                    }
                    @close1
                </span>
            </div>


            <div class="profile-card-ctr">
                <button id="myBtn1" class="profile-card__button button--orange" type="button" data-toggle="modal" data-target="#myModal">Tất toán sớm</button>
                
                <a href="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" class="profile-card__button button--blue" target="_blank">Xuất sổ tiết kiệm</a>
            </div>
        </div>

        <div class="profile-card-message js-message">
            <form class="profile-card-form">
                <div class="profile-card-form__container">
                    <textarea placeholder="Say something..."></textarea>
                </div>

                <div class="profile-card-form__bottom">
                    <button class="profile-card__button button--blue js-message-close">
                    </button>

                    <button class="profile-card__button button--gray js-message-close">
                        Cancel
                    </button>
                </div>
            </form>

            <div class="profile-card__overlay js-message-close"></div>
        </div>

    </div>

</div>


<script>
    var messageBox = document.querySelector('.js-message');
    var btn = document.querySelector('.js-message-btn');
    var card = document.querySelector('.js-profile-card');
    var closeBtn = document.querySelectorAll('.js-message-close');

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        card.classList.add('active');
    });

    closeBtn.forEach(function (element, index) {
        console.log(element);
        element.addEventListener('click', function (e) {
            e.preventDefault();
            card.classList.remove('active');
        });
    });
</script>

<script type="text/javascript">

    // Get the modal
    var modal = document.getElementById("myModal1");
    var header = document.getElementById("header-desktop");


    // Get the button that opens the modal
    var btn = document.getElementById("myBtn1");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1")[0];
    var span1 = document.querySelector(".close-3");


    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
        header.style.backgroundColor = "darkgrey";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        header.style.background = "#fff";

    }
    span1.onclick = function () {
        modal.style.display = "none";
        header.style.background = "#fff";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none"
            header.style.background = "#fff";
        }
    }

</script>

