@model QuanLiSoTietKiem.Models.SavingBook

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SavingBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.DepositAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestAmount)
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.InterestAmount)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectedAt)
        </dt>

        <dd>
            @Model.EffectedAt.ToString("dd/MM/yyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationAt)
        </dt>

        <dd>
            @Model.ExpirationAt.ToString("dd/MM/yyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingAt)
        </dt>

        <dd>
            @{
                string close = "Chưa đóng";
                if (Model.ClosingAt != null)
                {
                    close = Model.ClosingAt?.ToString("dd/MM/yyy HH:mm");
                }

            }
            @close
        </dd>


    </dl>
</div>
@*<div class="box-container-backdrop" style="position: fixed; top: 0; left: 0; z-index: 1040; width: 100vw; height: 100vh; background-color: #0000"></div>*@
<div  id="myModal" class="modal">
    <div class="modal-dialog" >
        <div class="modal-content" style="margin-top: 175px">
            <div class="modal-header">
                <h5 class="modal-title">Nhắc nhở?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn tất toán tài khoản này không?</p>
            </div>
            <div class="modal-footer">
                <form action="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" method="post">
                    <input type="submit" value="Đồng ý" class="btn btn-success" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    
<button class="btn  btn-success" type="button" data-toggle="modal" data-target="#myModal">Tất toán sớm</button>

<a href="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" class="btn btn-primary" target="_blank">Xuất sổ tiết kiệm</a>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
