@model QuanLiSoTietKiem.Models.SavingBook

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="contentSavingBooking" class="contentSavingBooking" style="">
    <h4>SavingBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.DepositAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestAmount)
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.InterestAmount)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectedAt)
        </dt>

        <dd>
            @Model.EffectedAt.ToString("dd/MM/yyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationAt)
        </dt>

        <dd>
            @Model.ExpirationAt.ToString("dd/MM/yyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingAt)
        </dt>

        <dd>
            @{
                string close = "Chưa đóng";
                if (Model.ClosingAt != null)
                {
                    close = Model.ClosingAt?.ToString("dd/MM/yyy HH:mm");
                }

            }
            @close
        </dd>
    </dl>

    <button id="myBtn1" class="btn  btn-success" type="button" data-toggle="modal" data-target="#myModal">Tất toán sớm</button>

    <a href="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" class="btn btn-primary" target="_blank">Xuất sổ tiết kiệm</a>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
<!-- The Modal -->
<div id="myModal1" class="modal1">
    <!-- Modal content -->
    <div class="modal-content1">
        <div class="d-flex justify-content-between align-content-center">
            <h5 class="modal-title">Nhắc nhở?</h5>
            <span class="close1">&times;</span>
        </div>

        <p>Bạn có muốn tất toán tài khoản này không?</p>
        <div class="d-flex justify-content-end align-content-center">
            <form class="text-right" action="/Customer/@Model.CustomerId/SavingBook/Export/@Model.ID" method="post">
                <input type="submit" value="Đồng ý" class=" btn btn-success" />
            </form>
            <input type="button" value="Close" class="close-3 ml-1 btn-close btn btn-danger" />
        </div>
    </div>

</div>


<script type="text/javascript">

            // Get the modal
            var modal = document.getElementById("myModal1");
            var header = document.getElementById("header-desktop");


            // Get the button that opens the modal
            var btn = document.getElementById("myBtn1");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close1")[0];
            var span1 = document.querySelector(".close-3");


            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
                header.style.backgroundColor = "darkgrey";
                console.log("ok")
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
                header.style.background = "#fff";

            }
            span1.onclick = function () {
                modal.style.display = "none";
                header.style.background = "#fff";

            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none"
                    header.style.background = "#fff";
                }
            }

</script>

