@model IEnumerable<QuanLiSoTietKiem.Models.SavingBook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12">
    <div class="card mt-2">
        <div class="card-body">
            <h3 class="card-title text-center">Thông tin khách hàng</h3>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="form-group col-lg-4 col-12"><label for="FullName">Họ và tên</label><input class="form-control" id="FullName" type="text" name="FullName" value="@ViewBag.customer.FullName" disabled="" /></div>
                        <div class="form-group col-lg-4 col-12"><label for="IdentityNumber">Số chứng minh thư</label><input class="form-control" id="IdentityNumber" type="text" name="IdentityNumber" value="@ViewBag.customer.IdentityNumber" disabled="" /></div>
                        <div class="form-group col-lg-4 col-12"><label for="UserName">Tài khoản</label><input class="form-control" id="UserName" type="text" name="UserName" value="@ViewBag.customer.UserName" disabled="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p>
  @Html.ActionLink("Thêm sổ tiết kiện", "Create", "SavingBook", "", new {@class = "btn btn-primary"})
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationAt)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        string color = "red";
        if (item.ClosingAt == null)
        {
            color = "#fff";
        }

        <tr style="background-color: @color">
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>

            <td>
                @String.Format("{0:0,0}", item.DepositAmount)
            </td>
            <td>
                @String.Format("{0:0,0}", item.InterestAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
  
            <td>
                @item.EffectedAt.ToString("dd/MM/yyy HH:mm")
            </td>
            <td>
                @item.ExpirationAt.ToString("dd/MM/yyy HH:mm")
            </td>

            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
