@model IEnumerable<QuanLiSoTietKiem.Models.Period>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-content-center mb-3">
    <h2>Bảng kì hạn</h2>

    <p>
        @Html.ActionLink("Thêm kì hạn mới", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
 
    
    </tr>
}

</table>
